*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ORANGE */
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;

  /* GREEN */
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --cyan: #08fdd8;

  /* GRAY */
  --gray0: #f9f9f9;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #a7a7a7;
  --gray4: #6c7983;
  --gray6: #454e56;
  --gray7: #2a2e35;
  --gray8: #12181b;
  --gray9: #181818;
  --bg-color: var(--gray8);
  --card-bg: var(--gray5);
  --nav-bg: var(--gray5);
  --card-radius: 0.25em;
  --text-color: var(--gray2);

  /* GRADIENT */
  --orange-pink: linear-gradient(
    to bottom right,
    var(--orange-light),
    var(--orange-dark) 85%
  );
  --green-grad: linear-gradient(
    to bottom right,
    var(--green-light),
    var(--green-dark) 85%
  );
  /* UTILITIES */
  --light-fw: 400;
  --bold-fw: 700;
  --radius: 6px;
  --radius-full: 50%;
  --spacing: 2px;
  --transition: 0.3s ease-in-out;
  --shadow-light: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 8px 15px 0px rgba(0, 0, 0, 0.3);
  --cursor: pointer;
}
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
  /* background-color: var(--bg-color); */
}
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul {
  padding: 0;
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor: var(--cursor);
}
a {
  text-decoration: none;
}
.container {
  width: 95%;
  max-width: 14450px;
  margin: 0 auto;
}
header {
  background-color: var(--bg-color);
}
.logo-wrapper {
  height: 60px;
}
.logo-wrapper h5 {
  color: var(--green-light);
}
nav {
  height: 70px;
}
.logo-wrapper,
nav {
  display: flex;
  align-items: center;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-btn {
  font-size: 1.8rem;
  color: var(--gray0);
}
